[submodule "content/life"]
	path = content/life
	url = https://github.com/9ft/life.git
[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
